<div class="library_publication_container">
	<{if $library_publication_view_mode == 'single'}>
		<{if $library_publication.identifier}>
			<h2><a href="<{$library_publication.identifier}>"><{$library_publication.title}></a></h2>
		<{else}>
			<h2><{$library_publication.title}></h2>
		<{/if}>		
	<{else}>
		<h2><{$library_publication.itemLink}></h2>
	<{/if}>
	<div class="itemInfo library_separator">
		<{if $library_publication.creator}><{$smarty.const._CO_LIBRARY_PUBLICATION_AUTHORS}> <{$library_publication.creator}><{/if}>
		<{if $library_publication.creator && ($library_publication.date || $library_publication.counter || $library_publication.tags)}> | <{/if}>
		<{if $library_publication.date}><{$smarty.const._CO_LIBRARY_PUBLICATION_PUBLISHED}> <{$library_publication.date}><{/if}>
		<{if ($library_publication.creator || $library_publication.date) && ($library_publication.counter || $library_publication.tags)}> | <{/if}>
		<{if $library_publication.counter}><{$library_publication.counter}> <{$smarty.const._CO_LIBRARY_PUBLICATION_VIEWS}><{/if}>
		<{if ($library_publication.creator || $library_publication.date || $library_publication.counter) && $library_publication.tags}> | <{/if}>
		<{if $library_publication.tags}><{$library_publication.tags}><{/if}>
		<{if $library_is_admin}>
			<{$library_publication.editItemLink}> <{$library_publication.deleteItemLink}>
		<{/if}>
	</div>
	<!-- Image -->
	<{if $library_publication.image}>
		<div class="library_publication_image">
			<{if $library_publication_view_mode == 'single'}>
				<{if $library_publication.identifier}>
					<a href="<{$library_publication.identifier}>">
						<{resized_image file=$library_publication.image width=$library_publication.screenshot_width height=$library_publication.screenshot_height fit="inside"}></a>
				<{else}>
						<{resized_image file=$library_publication.image width=$library_publication.screenshot_width height=$library_publication.screenshot_height fit="inside"}>
				<{/if}>
			<{else}>
				<a href="<{$library_publication.itemUrl}>">
					<{resized_image file=$library_publication.image width=$library_publication.screenshot_width height=$library_publication.screenshot_height fit="inside"}></a>
			<{/if}>
		</div>
	<{/if}>
	<!-- Float extra metadata in a box -->
	<div class="library_publication_metadata">
		<{if $library_publication.identifier || $library_publication.oai_identifier}>
			<p>
				<{if $library_publication.identifier}><strong><a href="<{$library_publication.identifier}>">>> <{$smarty.const._CO_LIBRARY_PUBLICATION_DOWNLOAD}></a></strong><{/if}>
				<{if $library_publication.identifier && $library_publication.oai_identifier}> | <{/if}>
				<{if $library_publication.oai_identifier}><{$library_publication.oai_identifier}><{/if}>
			</p>
		<{/if}>
		<{if $library_publication.format}><p><strong><{$smarty.const._CO_LIBRARY_PUBLICATION_FORMAT}></strong>: .<{$library_publication.format}></p><{/if}>
		<{if $library_publication.file_size}><p><strong><{$smarty.const._CO_LIBRARY_PUBLICATION_FILE_SIZE}></strong>: <{$library_publication.file_size}></p><{/if}>
		<{if $library_publication.source}><p><strong><{$smarty.const._CO_LIBRARY_PUBLICATION_SOURCE}></strong>: <{$library_publication.source}></p><{/if}>
		<{if $library_publication.language}><p><strong><{$smarty.const._CO_LIBRARY_PUBLICATION_LANGUAGE}></strong>: <{$library_publication.language}></p><{/if}>
		<{if $library_publication.publisher}><p><strong><{$smarty.const._CO_LIBRARY_PUBLICATION_PUBLISHER}></strong>: <{$library_publication.publisher}></p><{/if}>
		<{if $library_publication.submitter}><p><strong><{$smarty.const._CO_LIBRARY_PUBLICATION_SUBMITTER}></strong>: <{$library_publication.submitter}></p><{/if}>
		<{if $library_publication.rights}><p><strong><{$smarty.const._CO_LIBRARY_PUBLICATION_RIGHTS}></strong>: <{$library_publication.rights}></p><{/if}>
	</div>
	<div>
		<{if $library_publication_summaries}>
			<{if $library_publication.description}>
				<{$library_publication.description}>
			<{/if}>
		<{else}>
			<{if $library_publication.extended_text}>
				<{$library_publication.extended_text}>
			<{else}>
				<{$library_publication.description}>
			<{/if}>
		<{/if}>
	</div>
</div>