<{includeq file='db:library_header.html'}>

<!-- Tag select box but only if enabled and Sprockets module installed -->
<div class="library_separator">
	<{if $library_tag_select_box}><{$library_tag_select_box}><{/if}>
</div>

<{if $library_publication}>
	<!-- Single publication view -->
	<{include file=$library_publication.subtemplate}>
<{/if}>

<{if $library_subcategories}>
<div class="library_subcategories">
	<fieldset><legend><h3><{$smarty.const._CO_LIBRARY_PUBLICATION_SUBCATEGORY_LISTING}></h3></legend>
	<table>
		<tr>
		<{foreach item=subcat from=$library_subcategories}>
			<td><{$subcat.itemLink}> (<{$subcat.publicationCount}>)</td>
			<{if $subcat.count is div by 2}>
				</tr><tr>
			<{/if}>
		<{/foreach}>
		</tr>
	</table>
	</fieldset>
</div>
<{/if}>

<{if $library_publication_summaries}>
	<div>
		<!-- Pagination control -->
		<div>
			<{if $library_navbar }><{$library_navbar}><{/if}>
		</div>
		<!-- Index (summary) view, display the description field instead of extended_text -->
		<{foreach item=library_publication from=$library_publication_summaries}>
			<{include file=$library_publication.subtemplate}>
		<{/foreach}>
	</div>
<{else}>
	<{if $library_no_publications}>
		<div><{$smarty.const._CO_LIBRARY_PUBLICATION_NO_PUBLICATIONS}></div>
	<{/if}>
<{/if}>

<{if $library_publication_table}>
	<h1><{$library_title}></h1>
	<{$library_publication_table}>
<{/if}>

<{if $library_publication_unavailable}>
	<div><{$smarty.const._CO_LIBRARY_PUBLICATION_UNAVAILABLE}></div>
<{/if}>

<{includeq file='db:library_footer.html'}>